<html>
<body>
<form method="post">
    <label>Name:</label><div><input data-card-details="cardholder-name"></div>
    <label>Card:</label><div><input data-card-details="card-number"></div>
    <label>Expiry:</label><div><input data-card-details="expiry-date"></div>
    <label>CVV:</label><div><input data-card-details="security-code"></div>

    <input type="hidden" name="card-identifier">
    <div><input type="submit"></div>
</form>
<script src="https://pi-test.sagepay.com/api/v1/js/sagepay.js"></script>
<script>
  document.querySelector('[type=submit]')
    .addEventListener('click', function(e) {
      e.preventDefault(); // to prevent form submission
      sagepayOwnForm({ merchantSessionKey: 'FC71C349-3AFE-44CF-915D-7E0A46375B41' })
        .tokeniseCardDetails({
          cardDetails: {
            cardholderName: document.querySelector('[data-card-details="cardholder-name"]').value,
            cardNumber: document.querySelector('[data-card-details="card-number"]').value,
            expiryDate: document.querySelector('[data-card-details="expiry-date"]').value,
            securityCode: document.querySelector('[data-card-details="security-code"]').value
          },
          onTokenised : function(result) {
            if (result.success) {
              document.querySelector('[name="card-identifier"]').value = result.cardIdentifier;
              document.querySelector('form').submit();
            } else {
              alert(JSON.stringify(result));
            }
          }
        });
    }, false);
</script>
</body>
</html>